nav
	ul
		li(class="title")
			a(href="/") Benjamin Barbeau
			|
		li
			a(href="#projects") My Projects
			|
		li
			a(href="#skills") Skills
			|
		li
			a(href="#about") About Me
			|
		li
			a(href="#contact") Contact
			|
