doctype html
html(lang="en")
	head
		title Benjamin Barbeau
		link(rel="stylesheet" href="css/template.css" type='text/css')
		link(rel="stylesheet" href="css/home.css" type='text/css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")
body
	include ./header
	p(style="padding: 0px 12px; font-size: 24px; color: #adadad") Ategon
	
	
	main
		#upper
		#scrollButton
			h1 #[a(href="#projects") ▼]
			
		#projects
			h1 #[a(href="#projects") Recent Projects]
			ul
				li
					h2 #[a(href="#projects") Portfolio Website]
					p HTML, CSS, JS, Pug, Express
					br
					p Website used to showcase finished projects and experience
						br
						br
						
					ul(class="outList")
						li
							a(class="outbound" href="https://github.com/Ategon/portfolio-website") Source
						li
							a(class="outbound" href="https://ategon.dev" target="_blank") Link
				li
					h2 #[a(href="#projects") Bored Pixels Jam 9]
					p C#, Unity, Github
					br
					p Endless runner made in two weeks
						br
						br
						| - Up to 4 player local multiplayer
						br
						| - Split keyboard controls
						br
						| - Parallax background
						br
						| - Randomly generated character palettes with hue shifting
						ul(class="outList")
							li
								a(class="outbound" href="https://github.com/Ategon/bored-jam-9" target="_blank") Source
							li
								a(class="outbound" href="https://ategon.itch.io/rgb-highway" target="_blank") Link
							li
								a(class="outbound" href="https://www.youtube.com/watch?v=KJeUIPI1LCM" target="_blank") Gameplay
				li
					h2 #[a(href="#projects") Mini Jam 94]
					p C#, Unity
					br
					p Pachinko roguelike made in 3 days
						br
						br
						| - Randomly chosen pachinko boards
						br
						| - Many stat upgrades purchasable in a shop
						br
						| - Special effects based on the current level
					ul(class="outList")
						li
							a(class="outbound" href="https://github.com/Ategon/pachinko-bakery" target="_blank") Source
						li
							a(class="outbound" href="https://ategon.itch.io/pachinko-bakery" target="_blank") Link
						li
							a(class="outbound" href="https://www.youtube.com/watch?v=K5f7CkAevOw" target="_blank") Gameplay
				li
					h2 #[a(href="#projects") Discord Bot]
					p JS, Canvas, Moment.js
					br
					p A bot for the platform Discord that helps manage a game server
						br
						br
						| - Support ticket system that automatically creates a new channel and pings helpers
						br
						| - Leaderboard showing the most active chatters
						br
						| - A list of all guilds for the game along with threads where people can learn more and join them
						br
						| - Competition voting system between four factions thats percent based as to not give factions with more members a disadvantage
						br
						| - Slideshows that continually edit messages to rotate between given text and images
		#divider
		
		#skills
			h1 #[a(href="#skills") Skills]
			ul
				li
					img(src="../images/HomeBackground.png")
					p HTML
				li
					img(src="../images/HomeBackground.png")
					p CSS
				li
					img(src="../images/HomeBackground.png")
					p JS
				li
					img(src="../images/HomeBackground.png")
					p Node
				li
					img(src="../images/HomeBackground.png")
					p MongoDB
				li
					img(src="../images/HomeBackground.png")
					p MySQL
				li
					img(src="../images/HomeBackground.png")
					p Python
				li
					img(src="../images/HomeBackground.png")
					p Java
				li
					img(src="../images/HomeBackground.png")
					p C#
				li
					img(src="../images/HomeBackground.png")
					p Git
				li
					img(src="../images/HomeBackground.png")
					p C
				li
					img(src="../images/HomeBackground.png")
					p Pug
		#about
			h1 #[a(href="#about") About]
			
		#contact
			h1 #[a(href="#contact") Contact]
			
			#mediaButtons
				ul
					li 
						a(href="https://twitter.com/Etegondev") #[img(src="../images/Twitter.png")]
					li 
						a(href="https://github.com/Ategon") #[img(src="../images/GitHub.png")]