* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	background-color: transparent;
}
head { display: none; }

body {
	font-family: "Lato", "Times", "serif";
	color: white;
	background-color: black;
	background-size: cover;
}

a {
	text-decoration: none;
	transition: color .1s ease-in;
	color: white;
}

a:hover {
	transition: color .1s ease-in;
	color: green;
}

/*------------------
     NAVIGATION
------------------*/

nav ul {
	display: flex;
}

nav li {
	padding: 16px;
	font-size: 24px;
}

.title {
	padding: 10px;
	font-size: 36px;
    margin-right: auto;
}